@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');





/*Colors*/

/*
60% of #6a58f - Primary
30% of #0d4647 - secondary
10%of #c3004c - accent 
*/

:root {


    /* var(--primaryColor) !important; */
    --primaryColor: #6a58f0; 
      
      /* var(--secondaryColor) !important; */
      --secondaryColor: #0d4647; 

        /* var(--accentColor) !important; */
    --accentColor: #c3004c; 



        /* var(--fontFamily) !important; */
        --fontFamily: "Quintessential", serif; 
}


/*hello*/