@import 'global.css';
@import 'main.css';


.wrapper-body{
background-image: url("/images/carousel/background-image.jpg") ;
background-repeat: no-repeat;
background-attachment:cover ;
}

.wraper-main{
width: 100%;
max-width: 1000px;
margin: auto;
background-color: white;
padding: 25px;
margin-bottom: 0;
}

.wrapper-content{
margin: auto;
width: 100%;
max-width: 100px;

}