@import 'global.css';
@import 'main.css';


.wrapper-body{
background-image: url("/images/carousel/background-image.jpg") ;
background-repeat: no-repeat;
background-attachment:fixed ;
background-size:cover ;
}

.wraper-main{
width: 100%;
max-width: 1000px;
margin: auto;
background-color: white;
padding: 25px;
margin-bottom: 0;
}

.wrapper-content{
margin: auto;
width: 100%;
max-width: 100px;

}

.content-table{
border-collapse:collapse ;
width: 100%;
max-width: 1000px;
margin: auto;
text-align: center;
}

.content-tahad tr th{
background-color:  var(--primaryColor) !important ;
color: white;



}



.content-table th,
.content-tabletd{
    padding: 12px;
}


.content-table tbody tr{
    border-bottom: 1px solid #0d4647;
}