@import 'global.css';
@import 'main.css';

body {
    font-family: var(--fontFamily) !important;
}

.blinn-fa-icon {
    font-size: 60px;
    color: red;
}

.blinn-fa-container {
    background-color: #6a58f0;
    padding: 50px;
}