@import 'globall.css';
@import 'main.css';

body {
   font-family: var(--fontFamily) !important;
}

.blinn-fa-icon{
   font-size: 80px; 
   color: red;
}

.blinn-fa-container{
      background-color: #6a58f0 ;
}