body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
    z-index: 0;
    background: url("images/carousel-3.png");
    background-size: cover;
    overflow: hidden; 
    animation: parallax 60s linear infinite; 
  }
  
  @keyframes parallax {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }
  
  
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1; 
  }
  
  /* Content styling */
  header, main, footer {
    position: relative;
    z-index: 1;
    padding: 50px;
    text-align: center;
  }
  
  /* Footer */
  footer {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
  }
  